.allWWACont {
  max-width: 51.34%;
  min-height: 17.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h2 {
  font-size: 43px;
  letter-spacing: 0.6px;
}

.p {
  font-size: 18px;
  color: rgb(114, 113, 113);
  font-weight: 400;
  letter-spacing: 0.6px;
}

@media (max-width: 600px) {
  .allWWACont {
    max-width: 55.34%;
    margin-bottom: 1em;
  }
  .h2 {
    font-size: 35px;
    margin-top: 1em;
  }

  .p {
    font-size: 16px;
  }
}
