.UpperNavCont {
  text-align: center;
  background-color: #123026;
  color: white;
  min-height: 2.375rem;
}
.upperNavParg {
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header_cont {
  z-index: 10;
  display: flex;
  min-height: 7.188rem;
  background-color: white;
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.header_contMod {
  z-index: 10;
  display: flex;
  min-height: 6rem;
  background-color: white;
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.headerColOne {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.logo {
  height: 3.688rem;
  max-width: 12.5rem;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}
.logoMod {
  transition: all 0.3s ease-in-out;
  height: 2.75rem;
  max-width: 9.375rem;
}
.categories {
  letter-spacing: 0.6px;
}
.spans {
  font-size: 1em;
  color: rgb(115, 108, 108);
  font-weight: 450;
  cursor: pointer;
}
.spans:nth-child(2) {
  color: red;
  font-weight: 600;
}
.spans:nth-child(2):hover {
  color: red;
  font-weight: 600;
  text-decoration: underline;
}

.spans:hover {
  text-decoration: underline;
  color: #123026;
}
.headerColTwo {
  display: flex;
  justify-content: right;
}
.iconsNav {
  display: flex;
  margin-right: 1rem;
}
.iconsNav > * {
  cursor: pointer;
  color: #123026;
}

.iconsNav > *:hover {
  transform: scale(1.1);
}
.selection {
  border: none;
  cursor: pointer;
  max-width: 6.25rem;
  color: #123026;
}
.rowCont {
  width: 100%;
}

.sideM {
  position: absolute;
  top: 2em;
  left: 2em;
}
