.AllCont {
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.AllCont:hover .pStyle {
  border-bottom: 1px solid black;
  display: inline-block;
}

.pStyle {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
}

.imgCont {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}

.Btn {
  width: 100%;
  border: none;
  background: none;
  background-color: #123026;
  color: white;
  padding: 7px;
  border-radius: 20px;
  font-weight: 600;
}

.Btn:hover {
  background-color: rgb(124, 123, 123);
}
