.productCont {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.filterComponent {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.Btn {
  width: 10.625rem;
  height: 47px;
  border-radius: 5px;
  background-color: #123026;
  color: white;
  border: none;
  letter-spacing: 1px;
  margin-top: 1em;
}
.Btn:hover {
  outline: 1px solid #123026;
}

/*******************************/
.filterCont {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
}
.rowCont {
  max-width: 92.15%;
  width: 100%;
}
.divCont {
  display: flex;
  align-items: center;
}
.sortP {
  margin: 0;
  padding: 0;
  color: rgb(81, 77, 77);
}
.select {
  border: none;
  background: none;
  margin-left: 1em;
  cursor: pointer;
}
.productsCont {
  margin-left: 1em;
  color: gray;
  padding-top: 0.8em;
}
@media (max-width: 749px) {
  .filterCont {
    margin-top: 85%;
  }
}
