.allCont {
  min-height: 35rem;
  background-color: #123026;
  max-width: 100%;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.allContOne {
  max-width: 93.75%;
  width: 93.75%;
  min-height: 23.313rem;
  padding: 0 50px 50px 50px;
  margin: 0 60px;
  color: white;
  display: flex;
  justify-content: center;
}

.allContOneColOne {
  min-height: 20.125rem;
  max-width: 20rem;
  width: 20rem;
}

.contColGrid {
  max-width: 20rem;
  width: 20rem;
  margin: 0 2em;
}

.allContLefP {
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  margin-top: 1em;
  margin-bottom: 2em;
}
.logos {
  display: flex;
  max-width: 50%;
  justify-content: space-between;
}
.logo {
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}

.allContGrid {
  display: flex;
  color: white;
  max-width: 67.5rem;
  display: flex;
  justify-content: space-around;
}
.h6 {
  font-size: 1.25em;
  margin-bottom: 1.875em;
}
.p {
  color: rgb(204, 193, 193);
  cursor: pointer;
}

.p:hover {
  color: white;
  border-bottom: 1px solid white;
  display: inline-block;
}
.companyContAll {
  border-top: 1px solid rgb(112, 104, 104);
  margin-top: 2em;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 193, 193);
  text-align: center;
}

.companyCont {
  max-width: 25rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  flex-wrap: wrap;
}
.companyDiv {
  min-height: 2.5em;
  max-width: 2.5em;
  flex-wrap: wrap;
}
.company {
  object-fit: cover;
  width: 100%;
}

.spansCont {
  max-width: 50rem;
  width: 100%;
  display: flex;

  justify-content: space-evenly;
}
@media screen and (max-width: 500px) {
  .spansCont {
    display: flex;
    flex-direction: column;
  }
  .spanCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.spans {
  font-size: 0.813rem;
  margin-top: 10px;
  cursor: pointer;
}
.spans:hover {
  color: white;
  border-bottom: 1px solid white;
}
/*


.companyContAll {
  border-top: 1px solid rgb(112, 104, 104);
  width: 1518px;
  display: flex;
  margin-top: 2em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 193, 193);
}
.companyCont {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.companyDiv {
  height: 40px;
  width: 40px;
}
.company {
  object-fit: cover;
  width: 100%;
}
.spansCont {
  width: 800px;
  display: flex;

  justify-content: space-evenly;
}
.spans {
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}
.spans:hover {
  color: white;
  border-bottom: 1px solid white;
}
 */
