.allCont {
  min-height: 25rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.desc {
  margin-bottom: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.p {
  font-size: 22px;
  color: rgb(99, 96, 96);
  max-width: 43.75rem;
}
.inp {
  min-height: 3rem;
  width: 17.313rem;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 1em;
}

.styleBtn {
  border: none;
  background: none;
  background-color: #123026;
  color: white;
  min-height: 3rem;
  width: 9.375rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
}
