.inp_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.inp {
  max-width: 47rem;
  width: 100%;
  height: 2.813em;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.inp:hover {
  box-shadow: 0px 2px 11px 4px rgba(190, 180, 180, 0.75);
  border: 1px solid gray;
}
.inp::placeholder {
  letter-spacing: 1px;
}

.closeMark {
  font-size: 18px;
  margin-left: 1em;
}

.closeMark:hover {
  color: grey;
  transform: scale(1.1);
  cursor: pointer;
}

.searchMark {
  position: absolute;
  right: 28%;
  top: 48%;
  transform: translateY(-50%);
  cursor: pointer;
}
.searchMark:hover {
  transform: scale(1.1);
  color: grey;
  position: absolute;
  right: 28%;
  top: 48%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .searchMark {
    position: absolute;
    right: 12%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .searchMark:hover {
    transform: scale(1.1);
    color: grey;
    position: absolute;
    right: 12%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (width: 1024px) {
  .searchMark {
    position: absolute;
    right: 18%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .searchMark:hover {
    transform: scale(1.1);
    color: grey;
    position: absolute;
    right: 18%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (max-width: 550px) {
  .searchMark {
    position: absolute;
    right: 20%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .searchMark:hover {
    transform: scale(1.1);
    color: grey;
    position: absolute;
    right: 20%;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
