.sliderCont {
  width: 100%;
  overflow: hidden;
}
.AllCont {
  max-width: 22rem;
  width: 22rem;
}
.imgCont {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 22rem;
  cursor: pointer;
}

.pStyle {
  font-weight: 600;
}

.AllCont:hover .pStyle {
  border-bottom: 1px solid black;
  display: inline-block;
}
