.mediaCont {
  margin-top: 8em;
}
.AllCont {
  max-width: 95.57%;
  min-height: 28.75rem;
  overflow: hidden;
  margin-bottom: 8em;
}

.lastOne {
  max-width: 95.57%;
  min-height: 28.75rem;
  overflow: hidden;
  margin-bottom: 1em;
}

.Row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.desc {
  max-width: 32.875rem;
}
.h3 {
  font-size: 45px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.p {
  font-size: 17px;
  letter-spacing: 0.6px;
  line-height: 28.8px;
  color: rgb(91, 91, 91);
}

.thirdCont {
  max-width: 95.57%;
  min-height: 28.75rem;
  margin-bottom: 8em;
}

.imgs {
  width: 100%;
  height: 100%;
  object-fit: "cover";
}
