.AllCont {
  width: 92%;
  max-width: 92%;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  row-gap: 4em;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

@media (max-width: 749px) {
  .AllCont {
    grid-template-columns: repeat(2, 44%);
    gap: 2em;
  }
}
