.allCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 92.15%;
  margin: 5em 0;
  align-items: center;
}
.h3 {
  margin: 1em 0;
  font-size: 2.5em;
  max-width: 25rem;
}
.imgs {
  max-width: 20rem;
  min-height: 25rem;
  object-fit: cover;
  margin-bottom: 2em;
}
.secondImage {
  width: 20rem;
  height: 25rem !important;
}
