.cardCont {
  max-width: 319px;
  min-height: auto;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
  margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
  .img {
    width: 95%;
    height: auto;
    transition: transform 0.2s ease;
    margin-bottom: 1em;
  }
}
.cardCont:hover .img {
  transform: scale(1.02);
}
